* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: rgb(56, 183, 233);
}
body{
    background-color: rgb(208, 222, 231);
  
    margin-top: 40px;

    
}

/* outer div styling start  */
.outer_div {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

/* outer div styling end  */

/* inner div styling start  */
.inner_div {
    background-color: white;
    /* height: 85vh; */
    width: 80vw;
    border-radius: 25px;
    outline: 2px solid var(--blue);
    outline-offset: 25px;
}

/* top nav styling start  */
.top_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    align-items: center;

}

.topnav_firstDiv {
    display: flex;
    align-items: center;
    color: var(--blue);
}

.topnav_firstDiv i {
    font-size: 20px;
    color: var(--blue);
    padding-right: 10px;
}

.topnav_secondDiv {
    display: flex;
}

.topnav_secondDiv input {
    border: 1px solid var(--blue);
    width: 80%;
    padding: 10px 65px;
    border-radius: 22px 0px 0px 22px;
}

.topnav_secondDiv button {
    padding: 0px 15px 0px 15px;
    background-color: var(--blue);
    border-color: var(--blue);
    border-radius: 0px 22px 22px 0px;
}

.topnav_thirdDiv a {
    text-decoration: none;
    color: black;
}

.topnav_thirdDiv i {
    font-size: 20px;
    padding-right: 30px;
    color: var(--blue);
}

/* top nav styling end  */

/* bottom nav styling start  */
.bottom_nav{
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    }
.bottom_nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: var(--blue); */
    padding: 20px 70px 20px 70px;
    margin-bottom: 0px;
}
.bottom_nav button {
    margin: 0px 25px 0px 25px;
    border: none;
    background-color: var(--blue);
}
.bottom_nav ul li {
    list-style: none;
    padding: 5px;
    
}

.bottom_nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.bottom_nav a:hover {
    background-color: white;
    color: rgb(56, 183, 233);
    border-radius: 10px;
    }

/* bottom nav stling end  */

/* main styling start  */
/* .main_firstPart {
    background-image: url(images/3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    padding: 70px;
   } */

/* main left div styling  */
/* .main_left {
    text-align: center;
    color: white;
    position: relative;
} */
/* .main_left button {
    color: white;
    background-color: var(--blue);
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
} */

/* main right div styling  */

/* books category div styling start  */
.book_category {
    background-color: white;
    position: absolute;
    top: -8px;
    left: 44%;
}

/* main second part styling start  */
.main_secondPart {
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 22px 65px 22px 65px;
    background-color: var(--blue);
    border-radius: 0px 0px 25px 25px;
    }
    .secondPart_image img {
        padding: 10px;
        }

.secondPart_image {
    /* opacity: 0.7; */
    background-color: white;
    border-radius: 15px;
    margin: 15px 5px 15px 5px;
    text-align: center;
}
.secondPart_image:hover{
    bottom: 10px;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}
/* .image-div{
    display: flex;
} */
/* main scond part styling end  */


@media only screen and (max-width: 768px) {
    .nav_ul {
      display: none;
    }
  }
  @media only screen and (min-width: 768px) {
    .bottom_nav button {
      display: none;
    }
  }